<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="https://rookie-community.oss-cn-qingdao.aliyuncs.com/img/other/rookie2.png"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/global.css}" />
	<title>菜鸟网-个人主页</title>
</head>
<body>
	<div class="nk-container">
		<!-- 头部 -->
		<div th:replace="~{/commons/header::header}"></div>
		<!-- 右边鸟-->
		<div th:replace="~{/commons/bird::bird}"></div>
		<!-- 内容 -->
		<div class="main">
			<div class="container  ba">
				<!-- 选项 -->
				<div class="position-relative">
					<ul class="nav nav-tabs">
						<li class="nav-item">
							<a class="nav-link" th:href="@{|/user/profile/${user.id}|}">个人信息</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" th:href="@{|/myDiscuss/${user.id}|}" th:text="${user.id==loginUser.id?'我的帖子':'ta的帖子'}">我的帖子</a>
						</li>
					</ul>
				</div>
					<!-- 帖子列表 -->
					<ul class="list-unstyled">
						<li class="media pb-3 pt-3 mb-3 border-bottom" th:each="map:${discussPosts}">
							<a th:href="@{|/user/profile/${map.user.id}|}">
								<img th:src="${map.user.headerUrl}" class="mr-4 rounded-circle" alt="用户头像" style="width:50px;height:50px;">
							</a>
							<div class="media-body">
								<h6 class="mt-0 mb-3">
									<a th:href="@{|/discussPost/detail/${map.post.id}|}" th:utext="${map.post.title}">备战春招，面试刷题跟他复习，一个月全搞定！</a>
									<span class="badge badge-secondary bg-primary" th:if="${map.post.type==1}">置顶</span>
									<span class="badge badge-secondary bg-danger" th:if="${map.post.status==1}">精华</span>
								</h6>
								<div class="text-muted font-size-12">
									<u class="mr-3" th:utext="${map.user.username}">菜鸟网</u> 发布于 <b th:text="${#dates.format(map.post.createTime,'yyyy-MM-dd HH:mm:ss')}">2019-04-15 15:32:18</b>
									<ul class="d-inline float-right">
										<li class="d-inline ml-2">赞 <i th:text="${map.likeCount}">0</i></li>
										<li class="d-inline ml-2">|</li>
										<li class="d-inline ml-2">回帖 <span th:text="${map.post.commentCount}"></span></li>
									</ul>
								</div>
							</div>
						</li>
					</ul>
					<!-- 分页 -->
					<div th:replace="~{/commons/paging::pagination}"></div>
			</div>
		</div>

		<!-- 尾部 -->
		<div th:replace="~{/commons/tail::tail}"></div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script th:src="@{/js/global.js}"></script>
	<script th:src="@{/js/profile.js}"></script>
</body>
</html>
