<!DOCTYPE html>
<html lang="en">
<!-- 尾部 -->
<footer class="bg-my" th:fragment="tail">
    <div class="container">
        <div class="row">
            <!-- 二维码 -->
            <div class="col-4 qrcode">
                <img src="https://uploadfiles.nowcoder.com/app/app_download.png" class="img-thumbnail" style="width:90px;" />
            </div>
            <!-- 公司信息 -->
            <div class="col-8 detail-info">
                <div class="row">
                    <div class="col">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link text-light" href="#">关于我们</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="#">加入我们</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="#">意见反馈</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="#">联系我们</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="#">友情链接</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <ul class="nav btn-group-vertical company-info">
                            <li class="nav-item text-white-50">
                                公司地址：山东省烟台市莱山区山东工商学院西校区实验楼
                            </li>
                            <li class="nav-item text-white-50">
                                电话：010-666666&nbsp;&nbsp;&nbsp;&nbsp;
                                邮箱：baochen88888@666.com
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</html>