.main .nav .badge {
	position: absolute;
	top: -3px;
	left: 68px;
}

.main .media .badge {
	position: absolute;
	top: 12px;
	left: -3px;
}
.toast1 {
	position: relative;
	float: right;
	max-width: 100%;
	width: 60%;
}
.toast {
	max-width: 70%;
}

.l{
	width: 100%;
}

.chat{
	position: relative;
	width: 80%;
	left: 10%;
}

.chat .textarea{
	position: relative;
	width: 90%;
}